<!-- <p>Howdy! Here's a list of awesome computer scientists. Do you know any others? Add to the list yourself.</p>
<form (submit)="addName()">
  <input [(ngModel)]="newName" name="newName" placeholder="Awesome Computer Scientist">
  <button type="submit">Add</button>
</form>
<ul>
  <li *ngFor="let name of names">{{ name }}</li>
</ul> -->

<div class="col-xs-12">
  <div class="dev-container col-md-8 col-md-offset-2 col-xs-12">
      <div class="dev-element col-md-6 col-md-push-6 col-xs-12">
        <div class="col-md-6">
          <h2>Evelyn Richards</h2>
        </div>
        <div class="col-md-6">
          <div class="dev-sm-pic" style="float:right;">
            headshot
          </div>
        </div>
        <div class="col-md-12">
          <p>
            Phasellus neque leo, sodales sed condimentum vitae, placerat a eros. Pellentesque aliquam aliquam libero, eu efficitur eros bibendum et. Suspendisse id eros sit amet lacus pretium lacinia quis sit amet urna. Pellentesque vitae risus justo.
          </p>
        </div>
      </div>
    <div class="dev-element col-md-6 col-md-pull-6 col-xs-12">
      <div class="dev-md-pic">
        Art Slideshow
      </div>
    </div>
  </div>
  <div class="dev-container col-md-8 col-md-offset-2 col-xs-12">
    Contact Info???
  </div>
</div>
